body {
    background-color: #0f6074;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #34a070;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.8s ease;
}
.container:hover {
    transform: scale(1.1);
}
.title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 400px;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    translate: 440px;
    background-color: #54b851;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
