body {
    background-color: #751e1e;
    font-family: Arial, sans-serif;
}



p {
    font-size: 1em;
    line-height: 1.6em;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin: 20px auto;
    max-width: 900px;
    background-color: #a25e5e;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.8s ease;
}
.container:hover {
    transform: scale(1.1);
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #333;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    background-color: #a25e5e;
    border-radius: 10px;
    border: 2px solid #333;
}
img {
    width: 30%;
    margin: 0 auto;
    height: auto;
    translate: 455px;
    border-radius: 10px;
    box-shadow: 0px 3px 40px #751e1e;
}
