body{
    background-image: url(https://i0.wp.com/diariodotransporte.com.br/wp-content/uploads/2017/09/onibus_rio_janeiro.jpg?fit=653%2C393&ssl=1);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
p{
    text-align: center;
    background-color: rgb(152, 164, 240);
    color: black;
    border-radius: 10px;
    font-style: italic;
    width: 30%;
    position: absolute;
    top: 38%;
    left: 35%;
}
input[type="number"] {
    position: absolute;
    font-style: italic;
    top: 50%;
    left: 30%;
    width: 20%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="button"]{
    position: absolute;
    font-style: italic;
    top: 50%;
    left: 51%;
    width: 20%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="button"]:hover{
    background-color: lightgreen;
    color: #fff;
}


