body{
    background:
    linear-gradient(135deg,lightblue, white, lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-style: italic;
    margin: 0 auto;
    width: 20%;
    padding: 5px;
    border: 10px lightskyblue;
    border-radius: 10px;
    background-color: lightblue;
    border-color: black;
    border: solid;
    box-shadow: 0px 3px 40px black;
}
a{
    text-decoration: none;
    color: black;
    
}
h3{
    position: absolute;
    top: 7%;
    left: 18%;
}