body{
    background-color: #0f6074;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    text-align: center;
}
 p{
    
    color: black;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}
table{
    background-color: #34a070;
    color: white;
    text-align: center;
    padding: 5px;
    width: 20%;
    cursor: pointer;
    transform:translate(-50% -50%);
    position: absolute;
    top: 10%;
    left: 39.9%;
    border-radius: 50px;
    transition: all 0.7s ease;
}
table:hover{
    transform: scale(1,1);
}
.pai{
    background-color: #34a070;
    color: black;
    display: flex;
    top: 30%;
    left: 60px;
    position: absolute;
    padding: 60px;
    height: 70px;
    width: 15%;
    border-radius: 20px;   
}
.title{
    font-size: 20px;
    margin-top: -50px;
    text-align: center;
    justify-content: center;

}
.center{
    background-color: #34a070;
    display: flex;
    position: absolute;
    border-radius: 20px;
    padding: 60px;
    height: 70px;
    width: 15%;
    left: 37%;
    top: 30%;
}
.right{
    background-color: #34a070;
    display: flex;
    position: absolute;
    border-radius: 20px;
    padding: 60px;
    height: 70px;
    width: 15%;
    left: 70%;
    top: 30%;
}

.pai, .center, .right{
    transition: all 0.7s ease;
    cursor: pointer;
}
.pai, .center, .right:hover{
    transform: scale(1,1);
}