body {
    background-color: #d9e09f;
    font-family: 'Helvrgb(243, 244, 174)eue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e3c991;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #cda63c;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}
img{
    width: 300px;
    translate: 485px;
    border-radius: 10px;
}

