body{
    background-color: rgb(233, 125, 125);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

center{
    font-size: 32px;
}

.produto1{
    position: absolute;
    top: 35%;
    left: 30%;
    border: solid black;
    background-color: gray;
    width: 20%;
    height: 35%;
    background-image: url(https://imgs.casasbahia.com.br/55066981/1g.jpg?imwidth=1000);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prod2{
    position: absolute;
    top: 35%;
    left: 60%;
    border: solid black;
    background-color: gray;
    width: 20%;
    height: 35%;
    
}
.produto1, .prod2{
    text-align: center;
}
#add1{
    position: absolute;
    top: 72%;
    left: 32.8%;
    height: 9%;
    width: 15%;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
    font-style: italic;
    transition: all 0.8s ease-in-out;
}
#add1:hover{
    background-color: greenyellow;
    transform: scale(1.1);
    
}
#add2{
    position: absolute;
    top: 72%;
    left: 58%;
    height: 9%;
    width: 15%;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
    font-style: italic;
    transition: all 0.8s ease-in-out;
}
#add2:hover{
    background-color: greenyellow;
    transform: scale(1.1);

}

.price {
    position: absolute;
    font-size: 30px;
    top: 12%;
    left: 24%;
}

#carrinho {
    position: absolute;
    top: 75%;
    left: 80%;
    background-color: lightgray;
    border: solid black;
    width: 18%;
    border-radius: 5px;
    box-shadow: 0px 3px 10px whitesmoke;
    text-align: center;

}

#titulo {
    font-size: 32px;
}

#car {
    font-size: 32px;

}

.compiuter{
    position: absolute;
    top: 20.7%;
    left: 30%;
    border-radius: 5px;
    background-color: lightblue;
    width: 20%;
    padding: 1px;
    height: 13%;
    text-align: center;
}
.prod2{
    position: absolute;
    top: 35%;
    left: 55%;
    border: solid black;
    background-color: gray;
    width: 20%;
    height: 35%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#img2{
    width: 100%;
    height: 100%;
}
.taitou{
    font-size: 20px;
}
.tivi{
    position: absolute;
    top: 20.7%;
    left: 55%;
    border-radius: 5px;
    background-color: lightblue;
    width: 20%;
    padding: 1px;
    height: 13%;
    text-align: center;
}

#carrinho_img {
    position: absolute;
    height: 8%;
    width: 5%;
    top: 67%;
    left: 86%;
}